.idea
.venv*
*~
~*
*.swp
*/*~
*/~*
*/*.swp
*/*/*~
*/*/~*
*/*/*.swp
__pycache__
*/__pycache__
*/*/__pycache__
.ipynb_checkpoints
*/.ipynb_checkpoints
*/*/.ipynb_checkpoints
pywr_glpk_debug*
*.log
venv*
wsl_venv*
/venv*
/DRB_spatial/cache/*
DRB_spatial/drb_model_map_dark.html

#figs/*.png
#figs\*
#figs/*

local/*
#*.png
#figs/*.png
#./figs/*

input_data/historic_ensembles/historic_reconstruction_daily_ensemble.hdf5
