blosc2==2.0.0
contourpy==1.0.7
cycler==0.11.0
Cython==0.29.33
et-xmlfile==1.1.0
fonttools==4.39.0
h5py==3.8.0
hydroeval==0.1.0
kiwisolver==1.4.4
matplotlib==3.7.1
msgpack==1.0.5
networkx==3.0
numexpr==2.8.4
numpy==1.24.2
openpyxl==3.1.2
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
py-cpuinfo==9.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7.1
pywr==1.20.1
scipy==1.10.1
six==1.16.0
tables==3.8.0
tk==0.1.0
statsmodels