numpy
pandas
scipy
scikit-learn
statsmodels
matplotlib
seaborn

pywr
h5py
pytest
mpi4py

torch
bmipy
uncertainty_toolbox

pygeohydro
hydroeval
altair
jupyter-book
ghp-import
shapely
folium
pynhd
geopandas
pyarrow
contextily

git+https://github.com/philip928lin/PathNavigator.git
git+https://github.com/Pywr-DRB/Pywr-DRB.git@cl_packaging
